<mat-card appearance='outlined'>
  <mat-card-header>
  <mat-card-title>
    {{name}}
  </mat-card-title>
  <mat-card-subtitle>{{owner}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <h3>{{type}}</h3>
  <h3>{{privacy}}</h3>
  <p>Party will be at {{location}} starting at 10pm and lasting for {{length}} hrs!!</p> -->
</mat-card>

<mat-card>
  <mat-card-content>Simple card</mat-card-content>
</mat-card>

<br/>
<mat-slider min="1" max="5" step="0.5" value="1.5">
  <input matSliderThumb>
</mat-slider>