<mat-card *ngFor = "let party of parties" appearance="raised">
    <div>
      <mat-card-header>
        <mat-card-title>
          {{party.name}}
        </mat-card-title>
        <mat-card-subtitle>Owner: {{party.owner}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-chip highlighted [disableRipple]="true">{{party.privacy}}</mat-chip>
        <mat-chip highlighted [disableRipple]="true">{{party.type}}</mat-chip>
        <mat-chip [disableRipple]="true">20/35</mat-chip>
        <!-- <p>Party will be at {{location}} starting at 10pm and lasting for {{length}} hrs!!</p> -->
      </mat-card-content>
    </div>
    <div class="more-info-button">
      <button mat-raised-button>More Info</button>
    </div>
</mat-card>