
iframe {
  width: 95%;
  height: 80%;
  margin: 1em;
}

.more-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

mat-card {
  padding: 1em;
  width: 90%;
  text-align: center;
}